* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* 1. Chrome, Edge, and Safari (Webkit Browsers) */

/* عرض السكرول بار نفسه */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    border: 7px solid #292c3b;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    background-color: #d4d4d8;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* for Firefox */
html {
    scrollbar-color: #C2B4A3 #0F0F0F;
}